body {
  padding: 0;
  margin: 0;
  background-color: #e6dbcb;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
header {
  background-color: #a1a690;
  padding: 1rem;
}
h1 {
  font-size: 2rem;
  text-shadow: 3px 5px 2px #b4a69e;

  display: flex;
  justify-content: center;
}
h2 {
  font-size: 1.7rem;
}

nav {
  padding: 1.5rem;
  background-color: #bcc2aa;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
a {
  text-decoration: none;
  color: black;
  margin: 0 6rem;
  padding: 1.5rem;
  
}

a:hover {
background-color: #e69681;

}