body {
    margin: 0;
    font-family: "Vazir", "tahoma" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

.container {
  background-color: #bcc2aa;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  width: 50%;
  height: 40%;
  margin: 2rem auto;
  font-size: 20px;
}